@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

/* ----------------------------------------------------------------------------------------------------------------- */
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #868585;
  font-family: Lato;
  font-weight: 300;
  background: #ffffff;
}

/* ----------------------------------------------------------------------------------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ----------------------------------------------------------------------------------------------------------------- */
._container {
  max-width: 1104px;
  padding: 0px 20px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ----------------------------------------------------------------------------------------------------------------- */
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* ----------------------------------------------------------------------------------------------------------------- */
.button {
  padding: 0 41px;
  font-size: 15.5px;
  min-height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 300;
}

/* ----------------------------------------------------------------------------------------------------------------- */
.header-block {
  text-align: center;
}

.header-block__title {
  letter-spacing: 5.44px;
  color: #000000;
  font-size: 34px;
  font-weight: 700;
  position: relative;
  padding: 0 0 35px 0;
}
.header-block__title:after {
  content: "";
  width: 81px;
  height: 1px;
  background-color: #000000;
  position: absolute;
  left: 50%;
  margin: 0px 0px 0px -41px;
  bottom: 0;
}
@media (max-width: 630px) {
  .header-block__title:after {
    width: 70px;
    margin: 0px 0px 0px -36px;
  }
}
@media (max-width: 1024px) {
  .header-block__title {
    padding: 0 0 20px 0;
  }
}
@media (max-width: 630px) {
  .header-block__title {
    padding: 0 0 15px 0;
    font-size: 30px;
  }
}

.header-block__text {
  line-height: 186%;
  padding: 37px 0 0 0;
}
@media (max-width: 1024px) {
  .header-block__text {
    padding: 23px 0 0 0;
  }
}
@media (max-width: 630px) {
  .header-block__text {
    font-size: 12px;
  }
}

/* ----------------------------------------------------------------------------------------------------------------- */
.main-block {
  position: relative;
}

.main-block__container {
  padding: 165px 0 153px 0;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  .main-block__container {
    padding: 135px 0px 120px 0px;
  }
}
@media (max-width: 768px) {
  .main-block__container {
    padding: 105px 0px 90px 0px;
  }
}
@media (max-width: 375px) {
  .main-block__container {
    padding: 85px 0px 70px 0px;
  }
}

.main-block__text {
  color: #fff;
  padding: 159px 0 49px 0;
  position: relative;
}
.main-block__text:after {
  content: "";
  width: 105px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  margin: 0px 0px 0px -52.5px;
  bottom: 0;
}
@media (max-width: 768px) {
  .main-block__text {
    padding: 140px 0 40px 0;
  }
}
@media (max-width: 425px) {
  .main-block__text {
    padding: 140px 0 35px 0;
  }
}
@media (max-width: 375px) {
  .main-block__text {
    padding: 120px 0px 30px 0px;
  }
}

.main-block__title {
  line-height: 117%;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 900;
  margin: 0 0 7px 0;
  letter-spacing: 5.44px;
}
@media (max-width: 768px) {
  .main-block__title {
    font-size: 30px;
  }
}
@media (max-width: 375px) {
  .main-block__title {
    font-size: 25px;
  }
}

.main-block__subtitile {
  line-height: 153%;
  text-align: center;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: 4.16px;
  color: #fff;
}
@media (max-width: 768px) {
  .main-block__subtitile {
    font-size: 22px;
  }
}
@media (max-width: 425px) {
  .main-block__subtitile {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .main-block__subtitile {
    font-size: 15px;
  }
}

.main-block__button {
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ffffff;
  margin: 227px 0 75px 0;
}
.main-block__button:hover {
  background-color: #fff;
  color: #000;
}
@media (max-width: 768px) {
  .main-block__button {
    margin: 210px 0 60px 0;
  }
}
@media (max-width: 375px) {
  .main-block__button {
    margin: 150px 0 40px 0;
  }
}

.main-block__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-block__bg img {
  -o-object-position: left;
     object-position: left;
}

/* ----------------------------------------------------------------------------------------------------------------- */
.main-menu__body {
  padding: 22px 0;
  -webkit-box-shadow: 0.5px 0.9px 0 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0.5px 0.9px 0 0 rgba(0, 0, 0, 0.05);
}

.main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.main-menu__list li {
  margin: 0 26px;
}
@media (max-width: 425px) {
  .main-menu__list li {
    margin: 0 15px;
  }
}

.main-menu__item {
  padding: 5px 0;
}

.main-menu__link {
  line-height: 150%;
  font-size: 15px;
  font-weight: 400;
  color: #3c3c3c;
}
.main-menu__link:hover {
  color: #ada074;
  font-weight: 700;
}
@media (max-width: 425px) {
  .main-menu__link {
    font-size: 17px;
  }
}

/* ----------------------------------------------------------------------------------------------------------------- */
.about {
  padding: 130px 0 95px 0;
}
@media (max-width: 1024px) {
  .about {
    padding: 80px 0 45px 0;
  }
}

.about__header {
  padding: 0 0 69px 0;
}
@media (max-width: 1024px) {
  .about__header {
    padding: 0 0 50px 0;
  }
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 138px;
  margin: 0px -10px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 425px) {
  .about__body {
    padding: 0 50px;
  }
}

.about__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 10px;
}
@media (max-width: 1024px) {
  .about__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 768px) {
  .about__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  max-width: 260px;
  padding: 0 0 40px 0;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.item-about__image {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
}

.image_l img {
  margin: 0 0 0 10px;
}

.item-about__content {
  padding: 41px 0 0 0;
}
@media (max-width: 1024px) {
  .item-about__content {
    padding: 25px 0 0 0;
  }
}
@media (max-width: 630px) {
  .item-about__content {
    font-size: 18px;
    padding: 15px 0 0 0;
  }
}

.item-about__subtitle {
  padding: 0 0 35px 0;
  font-size: 22px;
  color: #000;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .item-about__subtitle {
    padding: 0 0 20px 0;
  }
}
@media (max-width: 630px) {
  .item-about__subtitle {
    font-size: 18px;
    padding: 0 0 5px 0;
  }
}

.item-about__text {
  line-height: 186%;
}
@media (max-width: 630px) {
  .item-about__text {
    font-size: 12px;
  }
}

/* ----------------------------------------------------------------------------------------------------------------- */
.portfolio {
  padding: 107px 0 55px 0;
  background-color: #F3F3F3;
}
@media (max-width: 1024px) {
  .portfolio {
    padding: 80px 0 45px 0;
  }
}

.portfolio__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__header {
  margin: 0 0 136px 0;
}
@media (max-width: 768px) {
  .portfolio__header {
    margin: 0 0 86px 0;
  }
}
@media (max-width: 425px) {
  .portfolio__header {
    margin: 0 0 56px 0;
  }
}

.menu {
  margin: 50px 0 0 0;
}
@media (max-width: 768px) {
  .menu {
    margin: 40px 0 0 0;
  }
}
@media (max-width: 425px) {
  .menu {
    margin: 25px 0 0 0;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__list li {
  margin: 0 27px;
}
@media (max-width: 425px) {
  .menu__list li {
    margin: 0 20px;
  }
}

.menu__item {
  padding: 7px 0;
}
@media (max-width: 425px) {
  .menu__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}

.menu__link {
  font-weight: 400;
  color: #3c3c3c;
}
@media (max-width: 425px) {
  .menu__link {
    font-size: 17px;
  }
}
.menu__link:hover {
  color: #ada074;
  font-weight: 700;
}

.portfolio__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -14px 16px;
}

.portfolio__column {
  padding: 0 14px;
  margin: 0px 0px 16px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 992px) {
  .portfolio__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.portfolio__image {
  height: 365px;
  overflow: hidden;
}
@media (max-width: 630px) {
  .portfolio__image {
    height: 250px;
  }
}
@media (max-width: 425px) {
  .portfolio__image {
    height: 200px;
  }
}

.portfolio__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__button {
  margin: 48px 0 0 0;
  border: 1px solid #000;
}
.portfolio__button:hover {
  background-color: #000;
}
.portfolio__button:hover .portfolio__link {
  color: #fff;
}

.portfolio__link {
  color: #000;
}

/* ----------------------------------------------------------------------------------------------------------------- */
.partners {
  position: relative;
  padding: 90px 0 105px 0;
}
@media (max-width: 1024px) {
  .partners {
    padding: 60px 0 75px 0;
  }
}

.partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners__title {
  color: #ffffff;
  letter-spacing: 1.83px;
  font-size: 30px;
  font-weight: 300;
  margin: 0 0 95px 0;
}
@media (max-width: 1024px) {
  .partners__title {
    margin: 0 0 50px 0;
  }
}
@media (max-width: 425px) {
  .partners__title {
    margin: 0 0 30px 0;
  }
}

.partners__items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners__item {
  padding: 0 55px;
}
@media (max-width: 768px) {
  .partners__item {
    padding: 0 30px;
  }
}
@media (max-width: 630px) {
  .partners__item {
    padding: 15px 30px;
  }
}
@media (max-width: 375px) {
  .partners__item {
    padding: 15px 25px;
  }
}

.partners__bg {
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* ----------------------------------------------------------------------------------------------------------------- */
.contact {
  padding: 138px 0 102px 0;
}
@media (max-width: 1024px) {
  .contact {
    padding: 88px 0 52px 0;
  }
}

.contact__container {
  max-width: 897px;
  margin: 0px auto;
}

.contact__header {
  margin: 0 0 120px 0;
}
@media (max-width: 1024px) {
  .contact__header {
    margin: 0 0 100px 0;
  }
}
@media (max-width: 768px) {
  .contact__header {
    margin: 0 0 80px 0;
  }
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 768px) {
  .contact__body {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact__forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 83px 0 0;
}
@media (max-width: 768px) {
  .contact__forms {
    padding: 70px 0 0 0;
  }
}
@media (max-width: 425px) {
  .contact__forms {
    width: 100%;
  }
}

.contact__yours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 110px 0;
}
@media (max-width: 425px) {
  .contact__yours {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

input[type=text] {
  width: 100%;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  background-color: #f8f7f7;
  border-top: 1px solid #000;
}

textarea {
  resize: none;
  width: 100%;
  padding: 12px;
}

.contact__form {
  max-width: 161px;
  height: 35px;
}
.contact__form:not(:last-child) {
  margin: 0 60px 0 0;
}
@media (max-width: 425px) {
  .contact__form:not(:last-child) {
    margin: 0 0 80px 0;
  }
}
@media (max-width: 425px) {
  .contact__form {
    min-width: 100%;
    width: 100%;
  }
}

.name:before {
  content: "YOUR NAME";
  top: 0;
  left: 0;
  font-weight: 700;
  color: #000000;
}

.mail:before {
  content: "YOUR E-MAIL";
  top: 0;
  left: 0;
  font-weight: 700;
  color: #000000;
}

.name__input {
  margin: 20px 0 0 0;
}
@media (max-width: 425px) {
  .name__input {
    margin: 10px 0 0 0;
  }
}

.mail__input {
  margin: 20px 0 0 0;
}
@media (max-width: 425px) {
  .mail__input {
    margin: 10px 0 0 0;
  }
}

.contact__massage {
  max-width: 383px;
  max-height: 150px;
}
.contact__massage:before {
  content: "MESSAGE";
  top: 0;
  left: 0;
  font-weight: 700;
  color: #000000;
}

.massage__area {
  width: 100%;
  font-size: 15px;
  height: 118px;
  background-color: #f8f7f7;
  border-top: 1px solid #000;
  margin: 20px 0 0 0;
}
@media (max-width: 425px) {
  .massage__area {
    margin: 10px 0 0 0;
  }
}

.contant__content {
  max-width: 252px;
  color: #000000;
  line-height: 186%;
  font-weight: 300;
}
@media (max-width: 768px) {
  .contant__content {
    max-width: 383px;
  }
}
@media (max-width: 425px) {
  .contant__content {
    font-size: 15px;
  }
}

.contact__text {
  margin: 0 0 30px 0;
}

.contact__subtitle {
  margin: 0 0 20px 0;
  font-weight: 700;
}

.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px 0;
}

.social__item:not(:last-child) {
  margin: 0 12px 0 0;
}
@media (max-width: 425px) {
  .social__item:not(:last-child) {
    margin: 0 20px 0 0;
  }
}

.social__item img {
  width: 29px;
  height: 29px;
}
@media (max-width: 425px) {
  .social__item img {
    width: 40px;
    height: 40px;
  }
}

.contact__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__mail {
  margin: 0 5px 0 0;
}

.contact__e-mail {
  font-weight: 700;
}

.contact__link {
  color: #000000;
}
.contact__link:hover {
  text-decoration: underline;
}

.contact__send {
  margin: 42px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 425px) {
  .contact__send {
    margin: 30px 0 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.send-contact__link {
  font-weight: 700;
  color: #000000;
}
.send-contact__link:hover {
  color: #ada074;
  font-weight: 800;
}
@media (max-width: 425px) {
  .send-contact__link {
    font-size: 15px;
  }
}

/* ----------------------------------------------------------------------------------------------------------------- */
footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  font-size: 20px;
  background-color: #3c3c3c;
  padding: 50px 0;
}
@media (max-width: 1024px) {
  footer {
    padding: 40px 0;
  }
}

.footer__logo {
  margin: 0 0 40px 0;
}
@media (max-width: 1024px) {
  .footer__logo {
    margin: 0 0 30px 0;
  }
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 35px 0;
}
@media (max-width: 1024px) {
  .footer__menu {
    margin: 0 0 25px 0;
  }
}
@media (max-width: 375px) {
  .footer__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 375px) {
  .menu-footer__item {
    padding: 10px 15px;
  }
}
.menu-footer__item:not(:last-child) {
  margin: 0 20px 0 0;
}
@media (max-width: 375px) {
  .menu-footer__item:not(:last-child) {
    margin: 0 0 0 0;
  }
}

.menu-footer__link {
  font-weight: 400;
  color: #a4a4a4;
}
.menu-footer__link:hover {
  color: #dadada;
}

.footer__info {
  color: #6c6c6c;
}
